{{! Hero element }}
<div class="hero relative overflow-hidden{{#is settings.hero_image_style 'standard'}} bg-home bg-cover bg-center{{/is}}">

  {{! Hero element content }}
  <div class="relative container z-30 py-6 {{#if settings.fixed_header}}lg:pb-6{{else}}lg:py-6{{/if}}"{{#if settings.fixed_header}} style="margin-top: {{settings.header_height}};"{{/if}}>

    {{! Hero element title }}
    <div class="my-5 text-{{settings.hero_content_alignment}}{{#unless settings.hero_heading}}{{#unless settings.hero_text}} hidden{{/unless}}{{/unless}}">
      {{~#if settings.hero_heading}}
        <h1 class="font-size-4xl lg:font-size-5xl">
          {{~#if settings.use_translations}}
            {{dc settings.hero_heading}}
          {{else}}
            {{settings.hero_heading}}
          {{/if~}}
        </h1>
      {{/if~}}
      {{~#if settings.hero_text}}
        <p class="font-size-xl">
          {{~#if settings.use_translations}}
            {{dc settings.hero_text}}
          {{else}}
            {{settings.hero_text}}
          {{/if~}}
        </p>
      {{/if~}}
    </div>

    {{! Hero element search bar }}
    <div class="search font-size-lg lg:font-size-xl text-base max-w-md my-4{{#is settings.hero_content_alignment 'center'}} mx-auto{{/is}}">
      <h2 class="sr-only">{{ t 'search' }}</h2>
      {{~#if settings.search_placeholder}}
        {{#if settings.use_translations}}
          {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false placeholder=(dc settings.search_placeholder)}}
        {{else}}
          {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false placeholder=settings.search_placeholder}}
        {{/if}}
      {{else}}
        {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false}}
      {{/if~}}
      <svg class="search-icon transition" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" aria-hidden="true">
        <use xlink:href="#icon-search" />
      </svg>
    </div>
  </div>

  {{! Hero background image (overlay) }}
  {{~#isnt settings.hero_image_style 'standard'}}
    {{~#isnt settings.hero_image_style 'parallax'}}
      <div class="absolute z-20 top-0 left-0 h-full w-full bg-home{{#is settings.hero_image_style 'overlay'}} bg-cover bg-center{{/is}}{{#is settings.hero_image_style 'overlay-pattern'}} bg-contain bg-repeat{{/is}}"></div>
    {{/isnt~}}
  {{/isnt~}}

  {{! Hero background color }}
  <div class="absolute z-10 top-0 left-0 h-full w-full bg-hero"></div>

  {{! Hero background image (parallax) }}
  {{#is settings.hero_image_style 'parallax'}}
    <div class="absolute z-0 top-0 left-0 w-full h-full">
      <div class="relative w-full h-full overflow-hidden">
        <div class="absolute top-0 left-0 w-full bg-home bg-cover bg-center" x-data="Widgets.parallaxImage" style="height: 150%"></div>
      </div>
    </div>
  {{/is}}

  {{! SVG dividers }}
  {{~#isnt settings.hero_element_shape 'none'}}
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      {{~#is settings.hero_element_shape 'book'}}class="svg-shape -mt-4 rotate-180" viewBox="0 0 1200 120"{{/is~}}
      {{~#is settings.hero_element_shape 'curve'}}class="svg-shape -mt-6" viewBox="0 0 100 100"{{/is~}}
      {{~#is settings.hero_element_shape 'curves'}}class="svg-shape -mt-6 rotate-180" viewBox="0 0 240 24"{{/is~}}
      {{~#is settings.hero_element_shape 'diagonal'}}class="svg-shape -mt-4 rotate-180" viewBox="0 0 1000 100"{{/is~}}
      {{~#is settings.hero_element_shape 'hills'}}class="svg-shape -mt-4" viewBox="0 0 240 24"{{/is~}}
      {{~#is settings.hero_element_shape 'mountains'}}class="svg-shape rotate-180" viewBox="0 0 1000 100"{{/is~}}
      {{~#is settings.hero_element_shape 'rays'}}class="svg-shape rotate-180" viewBox="0 0 2600 130.1"{{/is~}}
      {{~#is settings.hero_element_shape 'triangle'}}class="svg-shape rotate-180" viewBox="0 0 1000 100"{{/is~}}
      {{~#is settings.hero_element_shape 'wave'}}class="svg-shape rotate-180" viewBox="0 0 1000 100"{{/is~}}
      {{~#is settings.hero_element_shape 'waves'}}class="svg-shape rotate-180" viewBox="0 0 283.5 27.8"{{/is~}}
      {{~#is settings.hero_element_shape 'zigzag'}}class="svg-shape rotate-180" viewBox="0 0 1000 100"{{/is~}}>
      <use xlink:href="#shape-{{settings.hero_element_shape}}" />
    </svg>
  {{/isnt~}}

</div> {{! /.hero }}

<div class="container" id="page-container">

  {{! Subheader }}
  <div class="row align-items-center mt-6">
    <div class="col font-size-sm">
      {{breadcrumbs}}
    </div>
  </div>

  <div class="row row-lg">
    <section class="col">
      <header>
        <h1 class="h3 pb-2 border-bottom">
          {{#is current_filter.identifier 'unified'}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{t 'results' query=query count=results_count}}
            {{/if}}
          {{else}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{#unless current_subfilter.identifier}}
                {{t 'results' query=query count=results_count}}
              {{else}}
                {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
              {{/unless}}
            {{/if}}
          {{/is}}
        </h1>
      </header>

      {{! Search results list }}
      {{#if results}}
        <ul class="list-unstyled list-bordered">
          {{#each results}}
            <li class="list-item">
              <article>
                <header>
                  <h3 class="h4 mb-3">
                    <a href="{{url}}"{{#if is_external}} target="_blank"{{/if}}>
                      {{title}}
                      {{#if is_external}}
                        <svg viewBox="0 0 12 12" height="12">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                          <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                        </svg>
                      {{/if}}
                    </a>
                    {{#if vote_sum}}
                      <span class="badge ml-2">
                        <svg class="svg-icon mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" aria-hidden="true">
                          <g fill="none" stroke="currentColor">
                            <path stroke-linejoin="round" d="M10.77 4.5a.73.73 0 01.73.73C11.43 7 11.21 11.5 10 11.5H5a.5.5 0 01-.5-.5V4.5s1-.5 1-3a1 1 0 012 0v3z"/>
                            <rect width="2" height="7" x=".5" y="4.5" rx=".5" ry=".5"/>
                          </g>
                        </svg>
                        {{vote_sum}}
                      </span>
                    {{/if}}
                    {{#if comment_count}}
                      <span class="badge ml-2">
                        <svg class="svg-icon mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" aria-hidden="true">
                          <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                        </svg>
                        {{t 'comments_count' count=comment_count}}
                      </span>
                    {{/if}}
                  </h3>
                  <nav>
                    <ol class="breadcrumbs font-size-md">
                      {{#each path_steps}}
                        <li title="{{name}}">
                          <a class="text-inherit" target="{{target}}" href="{{url}}">
                            {{name}}
                          </a>
                        </li>
                      {{/each}}
                    </ol>
                  </nav>
                </header>
                <p>
                  {{text}}
                </p>
                <ul class="list-divider mb-5">
                  {{#unless is_external}}
                    {{#is ../settings.article_metadata 'author'}}
                      <li class="text-gray-600">
                        {{#link 'user_profile' id=author.id}}
                          {{author.name}}
                        {{/link}}
                      </li>
                    {{/is}}
                  {{/unless}}
                  <li class="text-gray-600">
                    {{date created_at}}
                  </li>
                </ul>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p class="text-gray-600">
          {{t 'no_results_unified'}}
          {{#link 'help_center'}}
            {{t 'go_to_help_center'}} <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" focusable="false" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .3-.2.5-.5.5H2c-.3 0-.5-.2-.5-.5V2c0-.3.2-.5.5-.5h1.5M6 6l4-4m-3.5-.5H10c.3 0 .5.2.5.5v3.5"></path>
            </svg>
          {{/link}}
        </p>
      {{/if}}

      {{pagination}}

    </section>

    <aside class="md:col-3 flex-first">

      {{! Source filters }}
      {{#if source_filters}}
        <div class="border-top border-bottom my-4 md:m-0 md:border-0">
          <h3 class="collapse-title" data-toggle="collapse" data-target="#source-filters" aria-controls="source-filters" aria-expanded="false">
            {{t 'filter_source'}}
          </h3>
          <div class="collapse md:flex md:flex-column md:h-full" id="source-filters">
            <ul class="nav nav-pills flex-column py-3 md:pt-0">
              {{#each source_filters}}
                <li class="nav-item">
                  <a class="nav-link border-radius{{#if selected}} is-active{{/if}}"{{#if selected}} aria-current="page"{{/if}} href="{{url}}">
                    {{name}}
                    <span>({{count}})</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}

      {{! Type filters }}
      {{#if type_filters}}
        <div class="border-top border-bottom my-4 md:m-0 md:border-0">
          <h3 class="collapse-title" data-toggle="collapse" data-target="#type-filters" aria-controls="type-filters" aria-expanded="false">
            {{t 'filter_type'}}
          </h3>
          <div class="collapse md:flex md:flex-column md:h-full" id="type-filters">
            <ul class="nav nav-pills flex-column py-3 md:pt-0">
              {{#each type_filters}}
                <li class="nav-item">
                  <a class="nav-link border-radius{{#if selected}} is-active{{/if}}"{{#if selected}} aria-current="page"{{/if}} href="{{url}}">
                    {{name}}
                    <span>({{count}})</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}

      {{! Subfilters }}
      {{#if subfilters}}
        <div class="border-top border-bottom my-4 md:m-0 md:border-0">
          <h3 class="collapse-title" data-toggle="collapse" data-target="#subfilters" aria-controls="subfilters" aria-expanded="false">
            {{#is current_filter.identifier 'knowledge_base'}}
              {{t 'filter_by_category'}}
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              {{t 'filter_by_topic'}}
            {{/is}}
          </h3>
          <div class="collapse md:flex md:flex-column md:h-full" id="subfilters">
            <ul class="nav nav-pills flex-column py-3 md:pt-0">
              {{#each subfilters}}
                <li class="nav-item">
                  <a class="nav-link border-radius{{#if selected}} is-active{{/if}}"{{#if selected}} aria-current="page"{{/if}} href="{{url}}">
                    {{name}}
                    <span>
                    ({{count}})
                  </span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}

      {{! Content tag filters }}
      {{#if content_tag_filters}}
        <div class="border-top border-bottom my-4 md:m-0 md:border-0">
          <h3 class="collapse-title" data-toggle="collapse" data-target="#content-tags" aria-controls="content-tags" aria-expanded="false">
            {{t 'filter_content_tag'}}
          </h3>
          <div class="collapse md:flex md:flex-column md:h-full" id="content-tags">
            <ul class="list-unstyled py-3 md:pt-0">
              {{#each content_tag_filters}}
                {{#if selected}}
                  <li class="inline-flex align-items-center py-2 px-3 border border-radius font-size-md">
                    <span>{{name}}</span>
                    <a class="ml-2 text-inherit" href="{{url}}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" aria-hidden="true">
                        <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
                      </svg>
                    </a>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}

    </aside>
  </div>
</div>

<script type="text/javascript">document.documentElement.classList.add('search-results-page')</script>