{{! Subheader }}
<div class="border-bottom bg-gray-100">
  <div class="container">
    <nav class="nav navbar-light nav-line collapsible-nav mb-0 font-size-md">
      {{link 'contributions' class='nav-link py-4 md:mr-4'}}
      {{link 'subscriptions' class='nav-link py-4 is-active' selected='true'}}
    </nav>
  </div>
</div>

<div class="container py-5" id="page-container">
  <header>
    <h1>
      {{t 'following'}}
    </h1>
  </header>

  {{! Filters }}
  <p class="dropdown" x-data="Widgets.dropdown" @click.away="close">
    <button class="not-a-button py-2 cursor-pointer" aria-haspopup="true" :aria-expanded="isExpanded" x-ref="toggle">
      {{current_filter.label}}
      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" aria-hidden="true" :class="{ 'rotate-180': isExpanded }">
        <use xlink:href="#icon-chevron-down" />
      </svg>
    </button>
    <span class="dropdown-menu" role="menu" x-ref="menu" :aria-expanded="isExpanded">
      {{#each filters}}
        <a class="dropdown-item" href="{{url}}" aria-selected="{{selected}}" role="menuitem">
          {{name}}
        </a>
      {{/each}}
    </span>
  </p>

  {{! Subscriptions list }}
  {{#if subscriptions}}
    <table class="table table-flush">
      <thead class="hidden md:table-header-group">
        <tr>
          <th>{{t 'title'}}</th>
          <th>{{t 'type'}}</th>
          <th>{{t 'subscription'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each subscriptions}}
          <tr>
            <td>
              {{#is type 'user'}}
                <img class="user-avatar" src="{{avatar_url}}" alt="">
              {{/is}}
              <a class="block" href="{{url}}" title="{{title}}">
                {{excerpt title characters=60}}
              </a>
            </td>
            <td class="hidden md:table-cell">{{name}}</td>
            <td class="hidden md:table-cell">{{following}}</td>
            <td class="subscribe-link p-0">{{subscribe}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{pagination}}

  {{else}}
    <p class="text-gray-600 mt-4">
      {{t 'not_following'}}
    </p>
  {{/if}}
</div>

<script type="text/javascript">document.documentElement.classList.add('subscriptions-page')</script>